<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--<httpRuntime targetFramework="4.5"/>-->
    <httpRuntime useFullyQualifiedRedirectUrl="true" requestValidationMode="2.0" maxRequestLength="1073741824"  requestLengthDiskThreshold="1073741824"/>
  </system.web>
  <connectionStrings>
    <!--<add name="PRTH" connectionString="Data Source=server2008;Initial Catalog=Prothsahanteam_DB;Persist Security Info=True;User ID=sa;Password=jtpl@1234;"/>-->
    
  </connectionStrings>
</configuration>
