<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--<httpRuntime targetFramework="4.5"/>-->
    <httpRuntime useFullyQualifiedRedirectUrl="true" requestValidationMode="2.0" maxRequestLength="1073741824"  requestLengthDiskThreshold="1073741824"/>
  </system.web>
  <connectionStrings>
    <add name="PRTH" connectionString="Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;"/>
    
  </connectionStrings>
</configuration>
